<h1> <%= @name %> </h1>
<p> <%= @user[:email] %> </p>
<p> <%= @user[:interests].join(", ") %> </p>

<ul>
  <% @other_users.keys.each do |user| %>
  <li>
    <a href="<%= user %>"><%= user %></a>
  </li>
  <% end %>
</ul>